[Unit]
Description=Scheduled timer to handle same tasks as crond does but for a single purpose


[Timer]
OnCalendar=*-*-08 17:31:00
Persistent=true


[Install]
WantedBy=timers.target
